@model ScarpeCoEpicode.Models.Articolo

@{
    ViewData["Title"] = "Aggiungi un nuovo articolo";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Aggiungi" method="post" class="mt-4">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" id="Nome" name="Nome" required />
    </div>
    <div class="form-group">
        <label for="Prezzo">Prezzo</label>
        <input type="text" class="form-control" id="Prezzo" name="Prezzo" required />
    </div>
    <div class="form-group">
        <label for="Descrizione">Descrizione</label>
        <input type="text" class="form-control" id="Descrizione" name="Descrizione" required />
    </div>
    <div class="form-group form-check my-3">
        <input type="checkbox" class="form-check-input" id="VisibileInHomePage" name="VisibileInHomePage"
            value="true" />
        <label class="form-check-label" for="VisibileInHomePage">Visibile in Home</label>
    </div>
    <button type="submit" class="btn btn-primary">
        Aggiungi Articolo
    </button>
</form>