@model ScarpeCoEpicode.Models.Articolo

@{
    ViewData["Title"] = "Aggiungi un nuovo articolo";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Aggiungi" method="post" class="mt-4" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Prezzo">Prezzo</label>
        <input asp-for="Prezzo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Descrizione">Descrizione</label>
        <input asp-for="Descrizione" class="form-control" />
    </div>
    <div class="form-group form-check">
        <input asp-for="VisibileInHomePage" class="form-check-input" />
        <label asp-for="VisibileInHomePage" class="form-check-label">Visibile in Home</label>
    </div>
    <div class="form-group">
        <label asp-for="ImmagineCopertinaFile">Immagine Copertina</label>
        <input asp-for="ImmagineCopertinaFile" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
        Aggiungi Articolo
    </button>
</form>